# Ambientes e configs locais
.env
.venv/
__pycache__/
*.pyc
dags/sessions/

# Logs do Airflow
logs/
airflow.log

# Arquivos de execução
*.db
*.sqlite
airflow.cfg

# Arquivos de dados
*.json
/data